.section_type_main {
    color: #fff;

    background: #010202 url(section_type_main.jpg) no-repeat 100% 0;
    background-size: auto 100%;
}

@media screen and (min-aspect-ratio: 194/100) {
    .section_type_main {
        background-size: 100%;
    }
}

.section_type_main .link {
    color: #fff;
}

.call-for-action {
    max-width: 1045px;
    margin: auto;

    text-align: center;
}

.call-for-action__title {
    margin-bottom: 42px;
    /*font-size: 36px;*/
    font-size: 34px;
}

.call-for-action__subtitle {
    margin-bottom: 66px;
    font-size: 20px;
}

.call-for-action__buttons .button {
    width: 360px;
    margin: 0 15px;
}

.section__video-modal .modal__content {
    width: 560px;
    height: 315px;
}

.section__feedback-form_hidden {
    display: none;
}

.section__feedback-form .form__inner {
    width: 442px;
    margin: 0 96px;
}

.section__feedback-form .input,
.section__feedback-form .textarea {
    margin-bottom: 25px;
}

.section__thanks:before {
    display: block;

    width: 120px;
    height: 120px;
    margin: 38px auto;

    border-radius: 50%;

    box-shadow: 0 2px rgba(0, 0, 0, .5);

    content: "";

    background: #fff url('thanks.png') no-repeat 50% 50%;
}

.section__thanks_hidden {
    display: none;
}

.section__thanks-main {
    font-size: 36px;
}

.section__thanks-sub {
    font-size: 20px;
}
