.section_type_main {
    color: #fff;

    background: #010202 url(section_type_main.jpg) no-repeat 100% 0;
    background-size: auto 100%;
}

@media screen and (min-aspect-ratio: 194/100) {
    .section_type_main {
        background-size: 100%;
    }
}

.section_type_main .section__inner {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section_type_main .link {
    color: #fff;
}

.call-for-action {
    width: 100%; /* fixes aligment of flexbox in IE */
    max-width: 1045px;
    margin: 0 auto 6.75rem;

    text-align: center;
}

.call-for-action__title {
    margin-bottom: 2.625rem;
    font-size: 2.125em;
}

.call-for-action__subtitle {
    margin-bottom: 4.125rem;
    font-size: 1.25em;
}

.call-for-action__subtitle p {
    display: inline;
}

.call-for-action__buttons .button {
    width: 330px;
    margin: 0 15px;
}

.section__feedback-form_hidden {
    display: none;
}

.section__feedback-form .form__inner {
    width: 442px;
    margin: 0 96px;
}

.section__feedback-form .input,
.section__feedback-form .textarea {
    margin-bottom: 25px;
}

.section__thanks {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.section__thanks_hidden {
    display: none;
}

.section__thanks-inner:before {
    display: block;

    width: 120px;
    height: 120px;
    margin: 0 auto 28px;

    border-radius: 50%;

    box-shadow: 0 2px rgba(0, 0, 0, .5);

    content: "";

    background: #fff url(thanks.png) no-repeat 50% 50%;
}

.section__thanks-main {
    font-size: 2.25em;
}

.section__thanks-sub {
    font-size: 1.25em;
}

@media screen and (max-width: 773px) {
    .section_type_main .section__inner {
        padding: 0 7%;
    }

    .section_type_main .link {
        color: #ff0;
    }

    .call-for-action {
        margin: 1.75rem auto;
        text-align: left;
    }

    .call-for-action__title {
        margin: 0 0 1.925rem 0;
        font-size: 1.9em;
        text-align: justify;
    }

    .call-for-action__subtitle {
        font-size: 1.4em;
        margin: 0 0 2.125rem 0;
        text-align: justify;
    }

    .call-for-action__subtitle p {
        display: block;
        margin: 0;
    }

    .call-for-action__buttons {
        margin: 0;
    }

    .call-for-action__buttons .button {
        width: 100%;
        margin: 0 0 10px;
    }

    .call-for-action__buttons .button__text {
        position: relative;
        top: 4px;
    }

    .section__feedback-form .input,
    .section__feedback-form .textarea {
        margin-bottom: 25px;
    }

    .form.section__feedback-form {
        padding: 0 20px;
    }

    .section__feedback-form .form__inner.form__inner {
        width: 100%;
        margin: 0;
    }

    .section__thanks {
        margin: 0 auto;
        overflow: hidden;
    }

    .section__thanks-inner:before {
        width: 70px;
        height: 70px;
        background-size: 40px;
    }

    .section__thanks-main {
        font-size: 2em;
        text-align: center;
    }

    .section__thanks-sub {
        font-size: 1.4em;
        padding: 16px 0;
    }

    .section__thanks_hidden {
        display: none;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 773px)
and (orientation: portrait) {
    .section_type_main {
        background-position: 80% 0;
        position: relative;
        padding: 0 5%;
    }

    .call-for-action {
        position: absolute;
        bottom: 0;
        margin: 0 0 25px;
        width: 80%;
    }

    .call-for-action__title {
        margin: 0 0 10px 0;
        font-size: 1.8em;
    }

    .call-for-action__subtitle {
        font-size: 1.4em;
        margin: 20px 0;
    }

    .section__feedback-form .input,
    .section__feedback-form .textarea {
        margin-bottom: 10px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 773px)
and (orientation: landscape) {
    .section_type_main {
        background-position: 95% -131px;
        background-size: auto 180%;
    }

   .call-for-action__title {
        font-size: 1.6em;
        margin-bottom: 15px;
        text-align: center;
    }

    .call-for-action__subtitle {
        font-size: 1.2em;
        text-align: center;
    }

    .call-for-action__subtitle p {
        display: inline;
    }

    .section__feedback-form .form__inner.form__inner {
        columns: 2;
    }

    .page_orientation_portrait .section__feedback-form .form__inner.form__inner {
        columns: auto;
        height: 373px;
    }

    .page_orientation_portrait .section__feedback-form .input, .section__feedback-form .textarea {
        margin-bottom: 10px;
    }
}
