.section_type_values {
    display: flex;
    align-items: center;

    background: url(section_type_values.jpg) no-repeat 50% 50%;
    background-size: 100% 100%;
}

.section_type_values .section__inner {
    width: 50.625em;
    margin: auto;
}

.section__values {
    margin-top: 56px;
}

.section__values .dl__dt {
    margin-bottom: 8px;
    font-size: 2.1875em;
}

.section__values .dl__dd {
    font-size: 1.25em;
    margin: 0 0 28px 0;
}

.section__values .dl__dt:before {
    float: left;
    width: 70px;
    height: 70px;
    margin: 8px 38px 0 0;

    border-radius: 50%;

    background: #fff no-repeat 50% 50%;
    box-shadow: 0 2px rgba(0, 0, 0, .2);

    content: "";
}

.section__values .dl__dt_type_cost:before {
    background-position: 50% 10px;
    background-image: url(dl__dt_type_cost.png);
}

.section__values .dl__dt_type_content:before {
    background-position: 50% 18px;
    background-image: url(dl__dt_type_content.png);
}

.section__values .dl__dt_type_safe:before {
    background-image: url(dl__dt_type_safe.png);
}

.section__values .dl__dt_type_simple:before {
    background-image: url(dl__dt_type_simple.png);
}

.section__values .dl__dt_type_support:before {
    background-position: 15px 15px;
    background-image: url(dl__dt_type_support.png);
}
