.form__title {
    margin-bottom: 59px;
    font-size: 2.25em;
    color: #343331;
}

.form__note {
    font-size: 1em;
    font-weight: 600;
    font-style: italic;
    line-height: 42px;
    color: #343331;
}

.form__submit {
    float: right;

    width: 170px;
}
