.form__title {
    margin-bottom: 59px;
    font-size: 2.25em;
    color: #343331;
}

.form__note {
    font-size: 1em;
    font-weight: 600;
    font-style: italic;
    line-height: 24px;
    color: #343331;
}

.form__submit {
    float: right;

    width: 170px;
}

/* TODO: move to separate files */
.input_theme_islands.input_theme_islands .input__control {
    font-family: "wf_SegoeUI", "Segoe UI", "Segoe", "wf_segoe-ui_normal", "Segoe WP", Tahoma, Verdana, Arial, sans-serif;
    font-size: 16px;
}

.textarea_theme_islands.textarea_theme_islands.textarea_size_xl {
    font-family: "wf_SegoeUI", "Segoe UI", "Segoe", "wf_segoe-ui_normal", "Segoe WP", Tahoma, Verdana, Arial, sans-serif;
    font-size: 16px;
}

.input_theme_islands.input_theme_islands.input_size_xl .input__control {
    height: 43px;
}
