.logo {
    position: relative;
    z-index: 1;

    max-width: 50%;
    margin-left: 70px;
    display: inline-block;
}

.logo:before {
    position: absolute;
    left: -130px;
    top: 13px;

    width: 99px;
    height: 98px;

    content: "";

    background: url(logo.png);
}

.logo__main {
    margin-bottom: 12px;

    font-size: 3.625em;
}

.logo__sub {
    padding-left: 144px;

    font-size: 1.625em;
}

@media (max-width: 1300px) {
    .logo:before {
        display: none;
    }
}

@media screen and (max-width: 773px) {
    .logo {
        margin: 5px auto;
        max-width: none;
    }

    .logo__main {
        margin-bottom: 0;
        font-size: 3em;
        white-space: nowrap;
        text-align: left;
    }

    .logo__sub {
        padding: 5px 0 0 0;
        text-align: right;
        margin: 0;
        font-size: 1.8em;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 773px)
and (orientation: portrait) {
    .logo {
        margin: 5px auto;
        display: block;
    }

    .logo__main {
        text-align: right;
    }

    .logo__sub {
        padding: 5px 0 0 0;
        text-align: right;
        margin: 0;
        font-size: 1.8em;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 773px)
and (orientation: landscape) {
    .logo {
        margin: 0;
    }

    .logo__main {
        margin-bottom: 8px;
    }

    .logo__sub {
        padding: 0;
        text-align: right;
        font-size: 1.4em;
    }
}
