.header {
    position: relative;

    padding-top: 63px;

    flex-grow: 1;
}

.header__badge {
    position: absolute;
    top: 0;
    left: 50%;
    width: 160px;
    height: 96px;
    margin-left: -80px;

    background: url(header__badge.png) no-repeat;
}

.header__quote {
    float: right;
    margin-top: 28px;

    font-size: 1.875em;
}
