.button_theme_md {
    background: #868686;
    background: linear-gradient(to bottom, #a3a3a3 0, #828282 100%);
}

.button_theme_md.button_theme_md {
    display: inline-block;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    text-decoration: none;
}

.button_size_m {
    font-size: 22px;
    line-height: 42px;
}

.button_size_l {
    font-size: 24px;
    line-height: 66px;
}

.button_theme_md:hover {
    box-shadow: none;
}

.button_action_video {
    background: #2c8dbe;
    background: linear-gradient(to bottom, #39c 0, #247fac 100%);
}

.button_action_video:hover {
    background: #2c8dbe;
}

.button_action_download {
    background: #6cae11;
    background: linear-gradient(to bottom, #65ad02 0, #579304 100%);
}

.button_action_download:hover {
    background: #6cae11;
}
