.video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: none;

    background: rgba(0, 0, 0, .8);
}

.video_playing {
    display: block;
}

.video__player {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;

    width: 800px;
    height: 450px;
    margin: -225px 0 0 -400px;
    border: none;
}

.video__close
{
    position: absolute;
    top: -18px;
    right: 0;

    padding: 12px 7px;

    cursor: pointer;

    font-size: 2.25em;
    font-weight: bold;
    color: #fff;
}
